.CenterPanel {
  /* Fills remaining space between left and right panels */

  grid-column: 2; /* Place center panel in the second and third columns */

  /* OR */
  height: 90vh; /* Sets height to 100% of viewport height */
}

.calendarNavigation {
  display: flex;
  justify-content: space-between; /* Align buttons at the ends */
  align-items: center; /* Vertically center buttons */
}
.formattedDate {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #02442e;
  /* Add any other styles as needed */
}

.navigation-buttons-container {
  display: flex;
  align-items: center;
}

.navigation-buttons-container > div {
  margin-right: 10px; /* Adjust spacing between buttons */
}
