.clickable-paragraph{
  color: rgb(7, 199, 183); /* Color of the clickable text */
  text-decoration: none; /* Remove the default underline */
  font-weight: bold; /* Make the text bold */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.clickable-paragraph:hover {
  color: rgb(7, 1, 16); /* Change text color on hover */
}
