.Calendar {
  display: grid; /* Grid layout for calendar */
  height: 100%;
  grid-template-columns: repeat(7, 1fr); /* 7 columns for days */
}

.day {
  text-align: center;
  border: 0.5px solid #999999; /* Lighter border */
  box-sizing: border-box; /* Includes border in the height calculation */
}

.day.empty {
  background-color: rgb(44, 96, 59);
}

.day.current > p {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #3498db; /* Border color */
  border-radius: 5px;
  background-color: #f2f2f2; /* Background color */
  font-size: 16px;
  color: #09aee0; /* Text color */
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Box shadow */
}

.day.current p:hover {
  color: rgb(7, 1, 16); /* Change text color on hover */
}
