/* Styling the buttons */
button {
  background-color: #23773c; /* Button background color */
  color: white; /* Text color */
  border: none; /* Remove default button border */
  padding: 10px 20px; /* Padding around text */
  cursor: pointer; /* Change cursor to pointer on hover */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition for button color change */
  margin: 1px;
}

/* Change button color on hover */
button:hover {
  background-color: #555555; /* Darker background color */
}

.navigation-button {
  display: inline-block;
  border-radius: 8px; /* Rounded corners */
}
