.toggle-button-container {
  display: flex;
  align-items: center;
}

.toggle-button-container p {
  margin-right: 8px;
}

.toggle-button {
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}

.slider {
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

.active .slider {
  transform: translateX(30px) translateY(-50%);
}

/* Optional: Add styles for when the toggle button is active */
.toggle-button.active {
  background-color: #4caf50; /* Change background color when active */
}
